* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: linear-gradient(-55deg,#001f45 2.5%, #284466 25%, #395373 55%, #607b9c 100%);
  overflow: hidden;
}
@font-face{
  font-family: lobster;
  src:url("./font/Lobster-Regular.ttf");
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px black solid; */
}
.section_1 {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  /* border: 1px solid white; */
  overflow: hidden;
}

.card {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 500px;
}
.stick {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 240px;
  height: 4px;
  background-color: white;
}
.stick_1 {
  transform: rotate(90deg);
  top: 371px;
  left: 220px;
  animation: stick1 12s ease forwards infinite;
}
@keyframes stick1 {
  0% {
    top: -126px;
    width: 240px;
    left: 220px;
  }
  16.66% {
    top: 371px;
    width: 240px;
    left: 220px;
    opacity: 1;
  }
  75% {
    top: 371px;
    width: 240px;
    left: 220px;
    opacity: 1;
  }
  100% {
    top: 371px;
    width: 0px;
    left: 340px;
    opacity: 0;
  }
}
.stick_2 {
  transform: rotate(90deg);
  top: 371px;
  left: 128px;
  animation: stick2 12s ease forwards infinite;
}
@keyframes stick2 {
  0% {
    top: 860px;
    width: 240px;
    left: 128px;
  }
  16.66% {
    top: 371px;
    width: 240px;
    left: 128px;
    opacity: 1;
  }
  75% {
    top: 371px;
    width: 240px;
    left: 128px;
    opacity: 1;
  }
  100% {
    top: 371px;
    width: 0px;
    left: 248px;
    opacity: 0;
  }
}
.stick_3 {
  top: 408px;
  left: 177px;
  animation: stick3 12s ease forwards infinite;
}
@keyframes stick3 {
  0% {
    width: 240px;
    left: -245px;
  }
  16.66% {
    width: 240px;
    left: 177px;
    opacity: 1;
  }
  75% {
    width: 240px;
    left: 177px;
    opacity: 1;
  }
  100% {
    width: 0px;
    left: 297px;
    opacity: 0;
  }
}
.stick_4 {
  top: 326px;
  left: 177px;
  animation: stick4 12s ease forwards infinite;
}
@keyframes stick4 {
  0% {
    width: 240px;
    left: 612px;
  }
  16.66% {
    width: 240px;
    left: 177px;
    opacity: 1;
  }
  75% {
    width: 240px;
    left: 177px;
    opacity: 1;
  }
  100% {
    width: 0px;
    left: 297px;
    opacity: 0;
  }
}
.box {
  position: absolute;
  top: 252px;
  width: 77px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box_1 {
  left: 340px;
}
.box_1 line {
  stroke: rgb(255, 255, 255);
  stroke-width: 4;
  stroke-linecap: round;
}
.box_1 .line_1 {
  stroke-dasharray: 73;
  stroke-dashoffset: 73;
  animation: line1 12s ease forwards infinite;
}
@keyframes line1 {
  0% {
    stroke-dashoffset: 73;
  }
  16.66% {
    stroke-dashoffset: 73;
  }
  25% {
    stroke-dashoffset: 0;
  }
  66.67% {
    stroke-dashoffset: 0;
  }
  75% {
    stroke-dashoffset: 73;
  }
  100% {
    stroke-dashoffset: 73;
  }
}
.box_1 .line_2 {
  stroke-dasharray: 73;
  stroke-dashoffset: 73;
  animation: line2 12s ease forwards infinite;
}
@keyframes line2 {
  0% {
    stroke-dashoffset: 73;
  }
  25% {
    stroke-dashoffset: 73;
  }
  33.33% {
    stroke-dashoffset: 0;
  }
  58.33% {
    stroke-dashoffset: 0;
  }
  66.67% {
    stroke-dashoffset: 73;
  }
  100% {
    stroke-dashoffset: 73;
  }
}
.box_2 {
  left: 256px;
  overflow: visible;
  transform: rotate(270deg);
}
.box_2 circle {
  display: block;
  stroke: white;
  stroke-width: 4;
  fill: transparent;
  stroke-dasharray: 151;
  stroke-dashoffset: 151;
  stroke-linecap: round;
  animation: circle 12s ease forwards infinite;
}
@keyframes circle {
  0% {
    stroke-dashoffset: 151;
  }
  33.33% {
    stroke-dashoffset: 151;
  }
  41.67% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 0;
  }
  58.33% {
    stroke-dashoffset: 151;
  }
  100% {
    stroke-dashoffset: 151;
  }
}
.section_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  /* border: 1px solid white; */
}
.card {
  width: 350px;
  height: 186px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #001f45;
  border-radius: 42px;
  font-family: lobster;
  box-shadow: 4px 7px 15px 4px #817f7f inset, -5px -8px 15px 4px #817f7f inset;
  user-select: none;
}
.header {
  height: 40px;
}
.btn {
  font-size: 21px;
  width: 200px;
  /* padding: 0px 17px; */
  text-align: center;
  height: 30px;
  border-radius: 12px;
}
.playfriend:hover{
  color: white;
  background-color: #001f45;
}
.playcomputer:hover{
  color: white;
  background-color: #001f45;
}
